modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 19390
externalPort = 3000

[[ports]]
localPort = 24065
externalPort = 6800

[[ports]]
localPort = 24066
externalPort = 3001

[[ports]]
localPort = 24393
externalPort = 3003

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_STRIPE_PUBLISHABLE_KEY = "pk_test_51Tf1ojANk3kJTOQRKfpUlYyaxT2uN9H2pw3Zb9lYCGbaUN07fQDCLMopYzUvkDRdtUYugTUai4fsa6OT6GjkQjR300QdR3PM8R"
REMOTE_KERNEL_URL = "https://ais-pre-lx5wyntcp7kr7waxdaam3k-470299616699.us-west2.run.app"
